<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Device</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Edit Device</h1>
    </div>
    <form action="#" th:action="@{/device/edit}" th:object="${device}" method="post" style="max-width: 600px; margin: 0 auto" >
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-4">ID:</label>
                <div class="col-8">
                    <input type="text" class="form-control" th:field="*{id}" readonly="readonly"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">Host Name:</label>
                <div class="col-8">
                    <input type="text" class="form-control" th:field="*{name}" required
                           minlength="6" maxlength="64"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">IP Address:</label>
                <div class="col-8">
                    <input type="text" class="form-control" th:field="*{address}" required
                           minlength="2" maxlength="20"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">Operating System:</label>
                <div class="col-8">
                    <input type="text" class="form-control" th:field="*{os}" required
                           minlength="2" maxlength="20"/>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
</div>


</body>
</html>

