<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="container text-center">
        <div>
            <form th:action="@{/logout}" method="post">
                <p>
                    Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
                </p>
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <div class="container text-center">
            <div>
                <h1>List of all managed devices</h1>
            </div>
            <div>
                <a href="/device/new">Add new device</a>
            </div>

        </div>

        <div>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Host Name</th>
                        <th>IP Address</th>
                        <th>Operating System</th>
                        <th>Vulnerabilities</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="device: ${deviceList}">
                        <td th:text="${device.name}">Host Name</td>
                        <td th:text="${device.address}">IP Address</td>
                        <td th:text="${device.os}">Operating System</td>
                        <td>
                            <ul>
                                <form action="#" th:action="@{'/device/vulnerability_add/' + ${device.id}}" th:object="${cve}" method="post">
                                    <input type="text" th:field="*{value}" />
                                    <input type="submit" value="Add CVE"/>
                                </form>
                            </ul>
                            <th:block th:each="vulnerability : ${device.vulnerabilities}">
                                <ul th:text="${vulnerability.vulnerabilityCve}">cve</ul>
                            </th:block>
                        </td>
                        <td>
                            <a th:href="@{'/device/edit/' + ${device.id}}">Edit</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a th:href="@{'/device/delete/' + ${device.id}}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container text-center">
            <div>
                <a href="/vulnerability/list">List of monitored vulnerabilities</a>
            </div>
        </div>
    </div>


</body>
</html>