<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vulnerabilities</title>
</head>
<body>
<div align="center">
    <h1>Vulnerabilities</h1>
    <a href="new">add new entry</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>CVE</th>
                <th>Name</th>
                <th>Description</th>
                <th>Severity</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vulnerability : ${vulnerabilityList}">
                <td th:text="${vulnerability.id}">Vulnerability ID</td>
                <td th:text="${vulnerability.cveIdentifier}">CVE</td>
                <td th:text="${vulnerability.name}">Name</td>
                <td th:text="${vulnerability.description}">Description</td>
                <td th:text="${vulnerability.severity}">Severity</td>
                <td>
                    <a th:href="@{'/edit/' + ${vulnerability.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${vulnerability.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>